<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
</head>
<body>
    {% include 'partials/header.html' %}
    <h1>Browse for Pokémon!</h1>
    
    <div>
        <form action="/browseBySet" method="get">
            <input type="text" name="set" placeholder="Enter Pokémon set name" required><br>
            <button type="submit">Search</button>
        </form>
    </div>


    <h1>{{ pokemon_set.name }}</h1><hr><br>
    {% if pokemon_set %}
        {% for card in pokemon_set.cards %}
        <h2>{{ card.name }}</h2>
        <img src="{{ card.image }}/low.webp" alt="{{ card.name }}">
        <p>Id: {{ card.id }}</p>
        <p>Set: {{ pokemon_set.name }}</p>

        <form action="/cart" method="post">
            <input type="hidden" name="card_id" value="{{ card.id }}">
            <button type="submit">Add to Shopping Cart</button>
        </form>
        {% endfor %}
    {% else %}
        <p>{{ error }}</p>
    {% endif %}
    
    {% include 'partials/footer.html' %}
</body>
</html>

